{% extends 'base.html' %}

{% block content %}
<section class="main-section" id="service">  <!--main-section-start-->
	<div class="container">
    	<h2>Contact Us</h2>
    	<h6>Schedule an appointment below for a free initial consultation.</h6>
        
	</div>
</section><!--main-section-end-->
<div class="container" id="outer-wrap">
	<section class="main-section contact" id="contact">
		 <div id="wrap">
			<iframe id="scaled-frame" class="wraps" src='https://outlook.office365.com/owa/calendar/Consultation@sparkonconsulting.com/bookings/' scrolling='yes'></iframe>
		</div>
			
				
			
			
	</section>
	</div>
{% endblock %}
