{% extends 'base.html' %}
{% block content %}
<section class="main-section" id="service"><!--main-section-start-->
	<div class="container">
    	<h2>Submit a support request here</h2>
    	<h6>Use the form below and an engineer will contact you soon.</h6>
        
	</div>
</section><!--main-section-end-->
<div style="padding: 0 20px; display: flex; justify-content: center;">
    <div style="max-width: 600px;">
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
      <script>
        hbspt.forms.create({
          region: "na1",
          portalId: "23492228",
          formId: "b2fb2884-954d-438e-bec2-479950cea470"
        });
      </script>
    </div>
  </div>
  
{% endblock %}
